* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(230, 191, 191);
}

.section__wrapper {
  margin: 10px 0;
  padding: 10px 0;
  width: 100%;
  min-height: 50%;
  background: #fafa84;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  button {
    padding: 10px 15px;
    border: none;
    background: rgb(153, 221, 212);
  }
}
