@import '../variables/variables';

.header {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: $white;
  border-bottom: 1px solid $lightBlack;
}